<!DOCTYPE html>
<html>
<head>
<title>TodoTracker</title>
<link href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet' media='screen'/>
</head>
<body>
	<div class='navbar' id='navigation'>
		<div class='navbar-inner'>
			<a class='brand' href='#'>TodoTracker</a>
			<ul class='nav'>
				<li><a class='nav_click' id='home' href='#'>Home</a><li>
				<li><a class='nav_click' id='tasks' href='#'>Tasks</a></li>
			</ul>
		</div>
	</div>
	<div class='container' id='content'>
	</div>
<script src='http://code.jquery.com/jquery-latest.js'></script>
<script src='/static/bootstrap/js/bootstrap.min.js'></script>
<script src='/static/js/todotracker.js'></script>
</body>
</html>